name: Build and Deploy to Cloud Run

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  GCP_PROJECT_ID: klaviyo-ct-plugin # TODO: update Google Cloud project id
  GAR_LOCATION: us-central1 # TODO: update Artifact Registry location
  REPOSITORY: docker-repo # TODO: update Artifact Registry repository name
  SERVICE: klaviyo-ct-plugin # TODO: update Cloud Run service name
  REGION: us-central1 # TODO: update Cloud Run service region

jobs:
  docker_image:
    name: "Build and push docker image"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Docker Auth to Google Artifact Registry
        id: docker-auth
        uses: 'docker/login-action@v2'
        with:
          registry: '${{ env.GAR_LOCATION }}-docker.pkg.dev'
          username: _json_key
          password: ${{ secrets.GCP_CREDENTIALS }}
      - name: Build image from docker file
        run: |-
          docker build -t "${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.SERVICE }}:${{ github.sha }}" ./
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.SERVICE }}:${{ github.sha }}"
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
      - name: Push docker image to Google Artifact Registry
        run: |-
          docker push "${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.SERVICE }}:${{ github.sha }}"

  infrastructure:
    name: "[dev] Infrastructure"
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run terraform
        uses: ./.github/actions/terraform
        with:
          tf_environment: dev
          gcp_credentials: ${{ secrets.GCP_CREDENTIALS }}
          ct_tf_client_id: ${{ secrets.CT_TF_CLIENT_ID }}
          ct_tf_secret: ${{ secrets.CT_TF_SECRET }}
          klaviyo_auth_key: ${{ secrets.KLAVIYO_AUTH_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
  deployment:
    name: "[dev] Deploy to Cloud Run"
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    needs: [ docker_image, infrastructure ]
    environment: dev
    env:
      ENV_STAGE: dev
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Deploy image to Cloud Run
        uses: ./.github/actions/cloudrun
        with:
          gcp_credentials: ${{ secrets.GCP_CREDENTIALS }}
          service: ${{ env.ENV_STAGE }}-${{ env.SERVICE }}
          region: ${{ env.REGION }}
          image: ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.SERVICE }}:${{ github.sha }}
          ct_api_url: ${{ vars.CT_API_URL }}
          ct_auth_url: ${{ vars.CT_AUTH_URL }}
          ct_project_id: ${{ vars.CT_PROJECT_ID }}
          ct_scope: ${{ vars.CT_SCOPE }}
          klaviyo_auth_key_secret: ${{ env.ENV_STAGE }}-klaviyo_auth_key:latest
          klaviyo_company_id: ${{ vars.KLAVIYO_COMPANY_ID }}
          ct_api_client_secret: ${{ env.ENV_STAGE }}-commercetools_api_client:latest
  e2e_tests:
    name: "[dev] End to end tests"
    runs-on: ubuntu-latest
    needs: [ deployment ]
    environment: dev
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run postman collection
        uses: ./.github/actions/postman
        with:
          ct_client_id: ${{ secrets.CT_E2E_CLIENT_ID }}
          ct_secret: ${{ secrets.CT_E2E_SECRET }}
          klaviyo_auth_key: ${{ secrets.KLAVIYO_AUTH_KEY }}
          postman_collection_json: "klaviyo-e2e-tests.postman_collection.json"
          ct_api_url: ${{ vars.CT_API_URL }}
          ct_auth_url: ${{ vars.CT_AUTH_URL }}
          ct_project_id: ${{ vars.CT_PROJECT_ID }}

  infrastructure_prod:
    name: "[prod] Infrastructure"
    runs-on: ubuntu-latest
    needs: [ e2e_tests ]
    environment: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run terraform
        uses: ./.github/actions/terraform
        with:
          tf_environment: prod
          gcp_credentials: ${{ secrets.GCP_CREDENTIALS }}
          ct_tf_client_id: ${{ secrets.CT_TF_CLIENT_ID }}
          ct_tf_secret: ${{ secrets.CT_TF_SECRET }}
          klaviyo_auth_key: ${{ secrets.KLAVIYO_AUTH_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
  deployment_prod:
    name: "[prod] Deploy to Cloud Run"
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    needs: [ infrastructure_prod ]
    environment: prod
    env:
      ENV_STAGE: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Deploy image to Cloud Run
        uses: ./.github/actions/cloudrun
        with:
          gcp_credentials: ${{ secrets.GCP_CREDENTIALS }}
          service: ${{ env.ENV_STAGE }}-${{ env.SERVICE }}
          region: ${{ env.REGION }}
          image: ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.SERVICE }}:${{ github.sha }}
          ct_api_url: ${{ vars.CT_API_URL }}
          ct_auth_url: ${{ vars.CT_AUTH_URL }}
          ct_project_id: ${{ vars.CT_PROJECT_ID }}
          ct_scope: ${{ vars.CT_SCOPE }}
          klaviyo_auth_key_secret: ${{ env.ENV_STAGE }}-klaviyo_auth_key:latest
          ct_api_client_secret: ${{ env.ENV_STAGE }}-commercetools_api_client:latest
  e2e_tests_prod:
    name: "[prod] End to end tests"
    runs-on: ubuntu-latest
    needs: [ deployment_prod ]
    environment: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run postman collection
        uses: ./.github/actions/postman
        with:
          ct_client_id: ${{ secrets.CT_E2E_CLIENT_ID }}
          ct_secret: ${{ secrets.CT_E2E_SECRET }}
          klaviyo_auth_key: ${{ secrets.KLAVIYO_AUTH_KEY }}
          postman_collection_json: "klaviyo-e2e-tests.postman_collection.json"
          ct_api_url: ${{ vars.CT_API_URL }}
          ct_auth_url: ${{ vars.CT_AUTH_URL }}
          ct_project_id: ${{ vars.CT_PROJECT_ID }}
